@font-face{

  font-family: 'SegoeWP-Light';

  src: url('../theyalow/assets/fonts/segoe-wp-light.TTF');
}


@font-face{

  font-family: 'LucidaSans-Italic';

  src: url('../theyalow/assets/fonts/LSANSI.TTF');
}


@font-face{

  font-family: 'OpenSans';

  src: url('../theyalow/assets/fonts/OpenSans.ttf');
}




@font-face{

  font-family: 'SegoeUI-Bold';

  src: url('../theyalow/assets/fonts/Segoe-UIBold.ttf');
}

@font-face{

  font-family: 'SegoeUI';

  src: url('../theyalow/assets/fonts/Segoe-UI.ttf');
}

@font-face{

  font-family: 'SegoeWP';

  src: url('../theyalow/assets/fonts/SegoeWP.ttf');
}

@font-face{

  font-family: 'Asap-Regular';

  src: url('../theyalow/assets/fonts/Asap-Regular.otf');
}

@font-face{

  font-family: 'PTSans-Regular';

  src: url('../theyalow/assets/fonts/PTS55F.ttf');
}

@font-face{

  font-family: 'PTSans-NarrowBold';

  src: url('../theyalow/assets/fonts/PTN77F.ttf');
}

@font-face{

  font-family: 'ArialMT';

  src: url('../theyalow/assets/fonts/ARIALMT.ttf');
  }






* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1300px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 70, 62);
}

.top {
  height: 565px;
  width: 1300px;
  background-image: url(../theyalow/assets/images/headerbackground.png);
  background-size: cover;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  height: 130px;

}

.wrapper-logo {
  display: flex;
  margin-top: 26px;
  margin-left: 140px;
}

h1 {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.logo {
  display: flex;

}

.logo:hover {
  cursor: pointer;
}

.h-logo-1 {
  opacity: 0.5;
  margin-top: 2px;

}

.h-logo-2 {
  margin-left: -84px;
  margin-top: -1px;
}

.text-logo {
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 41.04912px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;
  margin-top: 25px;
}

.wrapper-3menu {
  display: grid;

}

.nav-menu {
  width: 453px;
  height: 41px;
  background-color: #f5c506;
}

.front {
  margin-top: 71px;
  margin-right: 140px;
  z-index: 1000;
  box-shadow: -3px -3px 0 1px rgba(245, 197, 6, 0.5), -6px -6px 0 1px rgba(245, 197, 6, 0.4);
}



.middle {
  margin-top: -46px;
  margin-left: -5px;
  opacity: 0.5;
  z-index: 500;

}

.last {
  margin-top: 64px;
  margin-left: -10px;
  opacity: 0.5;
  z-index: 100;

}

.wrapper-menu {
  display: flex;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  align-items: center;
  height: 41px;
  list-style: none;
  font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
  font-size: 17.04912px;
  color: rgba(155, 125, 8, 255);
  text-transform: uppercase;
}

 .first::after {
  content: "";
  width: 0px;
  height: 40px;
  border: 0.8px solid #dcb105;
  position: absolute;
  margin-left: 153px;

  }

.first svg {
  margin-left: 18px;

}

.first div {
  margin-left: 9px;

}

.second svg {
  margin-right: 9px;

}

.second div {
  margin-right: -2px;

}
.second::after {
  content: "";
  width: 0px;
  height: 40px;
  border: 0.8px solid #dcb105;
  position: absolute;
  margin-left: 120px;

  }

.third svg {
  margin-right: 6px;

}

.third div {
  margin-right: 4px;

}

.menu-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 255);

}

.border-left {
  height: 41px;
  color: #dcb105;

}

.border-right {
  height: 41px;
  color: #dcb105;

}

.wrapper-slider {
  display: flex;
  justify-content: space-between;
  height: 435px;
  margin-top: 36px;
}

.wrapper-arror-left, .wrapper-arror-right {
  width: 32px;
  height: 57px;
  background-color: #c49e0c;
}

.wrapper-arror-left {
  margin-top: 134px;
}

.wrapper-arror-left svg, .wrapper-arror-right svg {
  margin-top: 17px;
  margin-left: 8px;

}

.wrapper-arror-left svg, .wrapper-arror-right svg:hover {
  cursor: pointer;

}

.wrapper-arror-right {
  margin-top: 134px;
}

.wrapper-video {
  position: relative;
}

.play-sign {
  z-index: 100;
  position: relative;
  margin-top: -196px;
  margin-left: 271px;

}

.play-sign:hover {
  cursor: pointer;
}

.main-video {
  object-fit: cover;
  object-position: -56px 2px;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 1px;
  width: 549px;
  height: 327px;
}

.circle {
  width: 67px;
  height: 67px;
  background-color: #e1d041;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  background-color: #c6a10b;

}

.triangle {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 19px;
  border-color: transparent transparent transparent #f5f4f2;
}

.wrapper-slogan {
  width: 392px;
  height: 121px;
  margin-top: 128px;
}

.wrapper-slogan > p {
  margin-top: -55px;
  margin-left: -96px;
  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;

}

.wrapper-slogan p + p {
  margin-top: -4px;
  margin-left: -77px;
  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 63px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.lit-triangle {
  margin-top: 4px;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 0 8.5px 10px;
  border-color: transparent transparent transparent #f5f4f2;

}

.play-panel {
  display: flex;
  margin-top: 81px;
  margin-left: 10px;
  z-index: 10;
  position: relative;
  justify-content: space-around;

}

.play-btn {
  width: 27px;
  height: 27px;
  background-color: #f5c506;
  opacity: 0.5;
  margin-left: 37px;
}

.play-btn:hover {
  background-color: #c6a10b;
  cursor: pointer;

}

.video-scroll {
  -webkit-appearance: none;
  appearance: none;

  width: 404px;
  height: 12px;
  background-color: rgba(245, 197, 6, 0.349);
  margin-top: 7px;
  margin-left: -3px;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
}

.video-scroll::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #f5c5068c;
 }

 .video-scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 25px;
  height: 12px;
  opacity: 1;
  background: #f5c506;
  border-radius: 5px;
  box-shadow: -200px 0 0 200px #f5c506;
}

 .video-scroll::-moz-range-progress {
   background-color: #f5c506;
   height: 12px;
   width: 404px;

 }

 .video-scroll::-ms-fill-lower {
  -webkit-appearance: none;
  background-color: #f5c506;
/*   height: 12px;
  width: 404px; */

}


   .video-scroll::-ms-fill-upper {
    -webkit-appearance: none;
     background-color: rgba(245, 197, 6, 0.349);
}

.video-scroll::-moz-range-track {
  appearance: none;
 color: #f5c5068c;
 width: 404px;
 height: 12px;
 background-color: rgba(245, 197, 6, 0.349);
 margin-top: 7px;
 margin-left: -3px;
 border-radius: 5px;
 overflow: hidden;
 outline: none;

}

.video-scroll::-moz-range-thumb {
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 12px;
  opacity: 1;
  background: #f5c506;
  border-radius: 5px;
  }



.volume {
  margin-top: 5px;
  margin-right: 5px;

}

.volume:hover {
  cursor: pointer;

}

.service {
  background-color: #f7f7f7;
  background-image: url(./assets/images/service-background.png);
  box-shadow: 0px -2px 5px 0px rgba(58, 47, 47, 0.75);
 }

.wrapper-service {
  height: 212px;
  display: flex;
  list-style: none;
  margin-left: 140px;
  border-color: #d4d4d4;

}

.wrapper-first-item {
  width: 339px;
  border: 1px solid #d4d4d4;
}

.download-pic {
  margin-top: 59px;
  margin-left: 110px;
}

.blat {
  margin-top: 35px;
  margin-left: 124px;
}

.plain {
  margin-top: 53px;
  margin-left: 116px;
}

.wrapper-second-item {
  width: 337px;
  border: 1px solid #d4d4d4;
}

.wrapper-third-item {
  width: 338px;
  border: 1px solid #d4d4d4;
}

.first-service-name, .second-service-name, .third-service-name {
  font-family: SegoeUI, AdobeInvisFont, MyriadPro-Regular;
  font-size: 27px;
  font-weight: 300;
  color: #000000;;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4px;
  margin-left: 18px;
}

.second-service-name {
  margin-top: 8px;
  margin-left: 23px;
}

.third-service-name {
  margin-top: 2px;
  margin-left: -14px;

}

.wrapper-middle {
  height: 509px;
  background-image: url(./assets/images/video-descrip-background.png);
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);

}

.middle-title {
  height: 110px;


}

.wrapper-title {
  margin-top: 32px;
  margin-left: 141px;
  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 37.04912px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}

.video-description {
  height: 233px;
  display: flex;
  justify-content: space-between;


}

.wrapper-video-text {
  display: flex;
  margin-left: 139px;

}

.video-text {
  width: 341px;
  background-color: #ec9e03;

}
.wrap-video-text {
  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  letter-spacing: 0.2px;
  font-size: 29.04912px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  width: 272px;
  height: 174px;
  margin-top: 16px;
  margin-left: 31px;

}

.play-sign-little {
  position: relative;
  margin-top: -235px;
}

.play-sign-little:hover {
  cursor: pointer;

}

.plus-first {
  width: 16px;
  height: 16px;
  margin-top: 18px;
  margin-left: 314px;

}

.plus-first:hover , .plus:hover {
  background-color: #c8aa0cd1;
  cursor: pointer;


}

.video-item {
  width: 315px;

}
.video-item video {
  width: 315px;
}

.circle-little {
  width: 61px;
  height: 61px;
  background-color: #c8aa0cd1;
  border-radius: 50%;
  margin-top: 93px;
  margin-left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle-little {
  margin-left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 17px;
  border-color: transparent transparent transparent #f5f4f2;
}

.twitter {
  width: 329px;
  background-color: #ec9e03;
  display: flex;
  flex-direction: column;
  margin-right: 143px;

}

.number {
  width: 24px;
  height: 18px;
  margin-top: 12px;
  margin-left: 286px;
  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 25.04912px;
  color: rgba(255, 255, 255, 255);
  text-align: left;

}

.bird {
  width: 175px;
  height: 133px;
 /*  background-image: url(./assets/images/twitter.svg); */
  margin-top: 29px;
  margin-left: 77px;
}

.bird svg {
  width: 171px;
  height: 159px;
}

.plus {
  width: 16px;
  height: 16px;
  margin-top: 16px;
  margin-left: 308px;
}

.wrapper-mes {
  display: none;

}

.video-date {
  background-color: #ddb101;
  width: 113px;
  height: 86px;
  margin-left: 139px;

}

.date-number {
  font-family: SegoeUI-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 51.04912px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  width: 55px;
  height: 38px;
  margin-left: 30px;
  margin-top: -2px;
}

.month {
  font-family: SegoeUI, AdobeInvisFont, MyriadPro-Regular;
  font-size: 21.04912px;
  color: rgba(178, 101, 41, 255);
  text-align: left;
  width: 55px;
  height: 15px;
  margin-top: 19px;
  margin-left: 32px;

}

.video-scroller {
  -webkit-appearance: none;
  appearance: none;

  width: 896px;
  height: 15px;
  margin-left: 213px;
  margin-top: 44px;
  background-color: rgba(248, 230, 144, 0.81);
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  margin-bottom: 22px;
}

/*  .video-scroller::-ms-fill-upper {
  width: 896px;
  height: 15px;
  margin-left: 213px;
  margin-top: 44px;
  color: #fae282cf;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  margin-bottom: 22px;
} */

.video-scroller::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 197px;
  height: 15px;
  border-radius: 5px;
  background: #ec9e03;
}

.video-scroller::-moz-range-track, .video-scroller::-ms-fill-lower  {
  width: 896px;
  height: 15px;
  margin-left: 213px;
  margin-top: 44px;
  background-color: #fae282cf;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  margin-bottom: 22px;

}

.video-scroller::-moz-range-thumb {
  cursor: pointer;
  width: 197px;
  height: 15px;
  border-radius: 5px;
  background: #ec9e03;
 }






.device {
  height: 499px;
  background-image: url(./assets/images/device-bg.png);
  display: flex;
  flex-direction: column;
}

.device-title {
  margin-top: 36px;
  margin-left: 352px;
  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 43.04912px;
  color: rgba(245, 197, 6, 255);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.device-wrapper {
  display: flex;
  margin-left: 140px;
  margin-bottom: 109px;
}

.discount {
  background-color: #f5c506;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  z-index: 10;
  margin-top: 2px;
  margin-left: -2px;
}

.discount p {
  font-family: PTSans-NarrowBold, AdobeInvisFont, MyriadPro-Regular;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 49px;
}

.device-items {
  display: flex;
  margin-top: 44px;
  margin-left: -93px;
}

.devices-pic {
  display: flex;
}

.computer {
  background-image: url(./assets/images/computer.png);
  width: 323px;
  height: 255px;
  margin-left: -3px;

}

.tablet {
  background-image: url(./assets/images/tablet.png);
  width: 129px;
  height: 173px;
  margin-left: 25px;
  margin-top: 43px;

}

.phone {
  background-image: url(./assets/images/phone.png);
  width: 39px;
  height: 63px;
  margin-left: 24px;
  margin-top: 153px;

}

.devices-discription {
  margin-top: 95px;
  margin-left: 80px;
}

.dev-discrip-list {
  list-style: none;
  width: 382px;
}

.list-style {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f5c506;
}
.discr-item-first, .discr-item-third {
  font-family: PTSans-Regular, OpenSans, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  color: rgba(169, 169, 167, 255);
  text-align: left;
  display: flex;
  letter-spacing: 1px;

}

.discr-item-third {
  margin-top: 30px;
}

.discr-item-third div {
  margin-top: 3px;

}

.discr-item-forth div {
  margin-top: 17px;
  width: 21px;

}

.discr-item-first p, .discr-item-third p, .discr-item-second p, .discr-item-forth p {
  margin-left: 20px;
  margin-top: -5px;
  height: 42px;
}

.test {
  height: 42px;

}

.discr-item-second, .discr-item-forth {
  font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  color: rgba(169, 169, 167, 255);
  text-align: left;
  display: flex;

}

.discr-item-second p, .discr-item-forth p {
  margin-top: 5px;
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 27px;

}

 .discr-item-forth p {
     margin-top: 8px;

}

.discr-item-second div {
  width: 21px;
  margin-top: 14px;

}



footer {
  height: 64px;
  background-color: #4c4c4c;
  display: flex;
  box-shadow: 0px -2px 5px 0px rgba(14, 12, 12, 0.75);
}

.f-logo {
  margin-left: -56px;
  margin-top: 3px;
  opacity: 0.5;
}

.wrapper-logo-footer {
  margin-left: 137px;
  display: flex;
  margin-top: 3px;

}

.text-logo-footer {
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 29.04912px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  margin-left: 7px;
  margin-top: 15px;
}

@media (max-width:640px) {
  body {
    margin: 0 auto;
    width: 640px;
    height: 100vw;
    display: flex;
    flex-direction: column;
  }

  .wrapper-header {
    height: 62px;
    background-color: #595959;
  }

  .top {
    width: 640px;
    height: 389px;
  }


  .wrapper-logo {
    display: flex;
    margin: 0;
    width: 186px;
    height: 62px;
  }

  .h-logo-1 {
    height: 37px;
    width: 38px;
    margin-left: 13px;
    margin-top: 12px;
  }

  .h-logo-2 {
    height: 40px;
    width: 39px;
    margin-left: -39px;
    margin-top: 11px;

  }

  .nav-menu {
    width: 455px;
    height: 62px;
    margin: 0;
  }

  .front {
    margin: 0;
    box-shadow: none;
  }



  .text-logo {
    font-size: 19px;
    margin-left: 7px;
    margin-top: 22px;
    letter-spacing: 0.5px;

  }

  .menu-item {
    height: 62px;
    font-size: 19px;

  }

  .first svg {
    margin-left: 8px;
    width: 27px;
    height: 25px;

  }

  .first div {
    margin-left: 11px;

  }

  .first::after {
    height: 61px;
    margin-left: 158px;
  }

  .second svg {
    width: 25px;
    height: 26px;
    margin-right: 7px;
  }

  .second::after {
    height: 61px;
    margin-left: 127px;
  }

  .third svg {
    margin-right: 12px;
    width: 31px;
    height: 24px;

  }

  .third div {
    margin-right: -2px;
  }

  .wrapper-slider {
    height: 327px;
    margin: 0;
  }

  .main-video {
    width: 640px;
    height: 327px;
    margin:0;
    object-position: center;
  }

  .play-btn {
    margin-left: 50px;
  }

  .play-sign {
    margin-top: -197px;
    margin-left: 294px;

  }

  .scroll-part {
    margin-top: -20px;
    margin-left: 134px;

  }

  .video-scroll {
    width: 403px;
    margin-left: -3px;
  }

  .play-panel {
    margin-top: 81px;
    margin-left: 18px;
  }

  .volume {
    margin-top: 6px;
    margin-right: 40px;
  }

  .download-pic {
    width: 89px;
    height: 61px;
    margin-top: 33px;
    margin-left: 44px;

  }

  .service::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    margin-top: -4px;
    background-color: #f7f7f7;
    background-image: url(./assets/images/service-background.png);
    opacity: 0.7;
    box-shadow: 0px -4px 0 1px #f7f7f79e;
  }

  .first-service-name, .second-service-name, .third-service-name {
    font-size: 23px;
    font-weight: 300;

  }

  .first-service-name {
    margin-top: 13px;
    margin-left: -22px;

  }

  .blat {
    margin-top: 28px;
    margin-left: 74px;
    width: 74px;
    height: 72px;

  }

  .plain {
    width: 71px;
    height: 72px;
    margin-top: 26px;
    margin-left: 66px;
  }

  .third-service-name {
    margin-top: 9px;
    margin-left: 5px;

  }


  .wrapper-slogan {
    display: none;
  }

  .wrapper-arror-left {
    display: none;
  }

  .wrapper-arror-right{
    display: none;
  }


  .wrapper-service {
    height: 174px;
    border: none;
    margin: 0;

  }

  .wrapper-first-item {
    border: none;
  }

  .wrapper-second-item {
    border: none;
  }

  .wrapper-third-item {
    border: none;
  }

  .middle-title {
    display: none;
  }

  .video-text {
    width: 299px;
    height: 232px;
    margin: 8px 9px;

  }

  .video-item video {
    margin-top: 7px;

  }

  .wrap-video-text {
    width: 235px;
    height: 189px;
    font-size: 29px;
    margin-top: 13px;
    margin-left: 27px;
    letter-spacing: 0.2px;
    line-height: 34px;
    hyphens: manual;

  }

  .wrapper-middle {
    background-color: #ffffff;
  }

  .video-date {
    display: none;
  }

  .video-scroller {
    display: none;
  }

  .twitter {
    margin: 0;
    width: 100%;
    height: 233px;
    background-color: #f5c507;
    flex-direction: row;
  }

  .wrapper-mes {
    display: block;
    margin-top: 22px;
    margin-left: 65px;
  }

  .wrapper-mes ul {
    list-style: none;
  }

  .messages {
    margin-left: 6px;
  }

  .messages li p {
    font-family: Arial, AdobeInvisFont, MyriadPro-Regular;
    font-size: 13px;
    color: rgba(143, 142, 142, 255);
    text-align: left;
    letter-spacing: 0.15px;
  }

  .wrapper-mes ul li {
    margin-bottom: 18px;

  }

  .mes {
    margin-top: -39px;
    margin-left: 28px;
  }

  .author {
    margin-left: 28px;
    margin-top: 1px;
  }

  .form {
    margin-top: -2px;
  }

  .input {
    margin-top: 2px;
    width: 200px;
    height: 28px;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #eaa927;
    outline: none;
  }

  .button-submit {
    margin-left: -6px;
    width: 72px;
    height: 29px;
    background-color: #e8a624;
    font-family: Arial, AdobeInvisFont, MyriadPro-Regular;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #eaa927;
    margin-top: -3px;
    outline: none;
    cursor: pointer;
  }

  .button-submit span {
    margin-left:-5px;

  }

  .video-description {
    display: block;
    background-color: #fff;
    height: 481px;
  }

  .number {
    display: none;

  }

  .bird svg {
    width: 166px;
    height: 159px;
    margin-top: 27px;
    margin-left: 1px;

  }

  .plus {
    display: none;
  }

  .plus-first {
    margin-left: 275px;
    margin-top: -1px;

  }

  .device {
    background-color: #474747;
    background-image: none;

  }

  .device-wrapper {
    margin-top: 31px;
    margin-left: 30px;
    height: 353px;
    margin-bottom: 0;

  }

  .device-title {
    margin-top: 29px;
    margin-left: 19px;
    font-size: 39px;
    font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular;
    color: rgba(245, 197, 6, 255);
  }

  .wrapper-video-text {
    margin: 0;

  }

  .devices-discription {
    display: none;
  }

  .device-items {
    margin-left: -85px;

  }

  .f-logo-1 {
    width: 32px;
    height: 33px;
    margin-left: -73px;
    margin-top: 2px;

  }

  .f-logo {
    width: 34px;
    height: 35px;
    margin-left: -33px;
    margin-top: 1px;

  }

  .text-logo-footer {
    font-size: 17px;
    margin-top: 12px;
    margin-left: -33px;

  }




}
